* text=auto
*.sh text eol=lf
*.service text eol=lf
*.toml text eol=lf
*.py text eol=lf
*.json text eol=lf
*.svelte text eol=lf
*.ts text eol=lf
*.css text eol=lf
remote-agent-server/deploy/remote-agent-info text eol=lf
